{% extends 'base.html' %}
{% load staticfiles %}
{% load blog_tags %}
{% block main %}
    {% for article in article_list.object_list %}
        <article class="post post-{{ article.pk }}">
             <header class="entry-header">
                 <h1 class="entry-title">
                    <a href="{% url 'blog:article_detail' article.pk%}">{{ article.title }}</a>
                 </h1>
                 <div class="entry-meta">
                    <span class="post-category"><a href="{% url "blog:category" article.category.pk%}">{{ article.category.name }}</a></span>
                    <span class="post-date"><a href="{% url "blog:archives" article.created_time.year article.created_time.month%}"><time class="entry-date" datetime="{{ article.created_time }}">{{ article.created_time }}</time></a> </span>
                     <span class="post-author"><a href="#">{{ article.author }}</a></span>
                    <span class="comments-link"><a href="{% url "blog:article_detail" article.pk%}"> {{ article.comment_set.count }} 评论</a></span>
                    <span class="views-count"><a href="#"> {{ article.click_nums }} 阅读</a></span>
                 </div>
             </header>
             <div class="entry-content clearfix">
                 <p>{{ article.excerpt }}</p>
                 <div class="read-more cl-effect-14">
                     <a href="{% url 'blog:article_detail' article.pk%}" class="more-link">继续阅读<span class="meta-nav">→</span></a>
                 </div>
             </div>
        </article>
    {% empty %}
        <div class="no-post">暂时还没有发布新文章!</div>
    {% endfor %}
     <!-- 简单分页效果
    <div class="pagination-simple">
        <a href="#">上一页</a>
        <span class="current">第 6 页 / 共 11 页</span>
        <a href="#">下一页</a>
    </div>
    -->
    <div class="pagination">
        <ul>
            {% if article_list.has_previous %}
                <li><a href="?{{ article_list.previous_page_number.querystring }}" class="prev">上一页</a> </li>
            {% endif %}
            {% for article_page in article_list.pages %}
                {% if article_page %}
                    {% ifequal article_page article_list.number %}
                        <span class="current page">{{ article_page }}</span>
                    {% else %}
                        <li><a href="?{{ article_page.querystring }}" class="page">{{ article_page }}</a> </li>
                    {% endifequal %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
            {% if article_list.has_next %}
                <li><a href="?{{ article_list.next_page_number.querystring }}" class="next">下一页</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock main %}

{% block toc %}

    <div class="widget widget-recent-posts">
        <h3 class="widget-title">最新文章</h3>
        <ul>
            {% get_recent_articles as recent_articles_list %}
            {% for recent_article in recent_articles_list %}
                <li>
                    <a href="{% url 'blog:article_detail' recent_article.pk%}">{{ recent_article.title }}</a>
                </li>
            {% empty %}
                <li>暂无新文章</li>
            {% endfor %}
        </ul>
    </div>
    <div class="widget widget-archives">
        <h3 class="widget-title">归档</h3>
        {% get_archives as archives_list %}
        <ul>
            {% for archive in archives_list %}
                <li>
                    <a href="{% url 'blog:archives' archive.year archive.month%}">{{ archive.year }} 年 {{ archive.month }} 月</a>
                </li>
            {% empty %}
            {% endfor %}
        </ul>
    </div>

    <div class="widget widget-category">
        <h3 class="widget-title">分类</h3>
        {% get_categories as category_list %}
        <ul>
            {% for category in category_list %}
                <li>
                    <a href="{% url 'blog:category' category.pk%}">{{ category.name }} <span class="post-count">({{ category.article_set.count }})</span></a>
                </li>
            {% empty %}
                <li>暂无分类</li>
            {% endfor %}
        </ul>
    </div>

    <div class="widget widget-tag-cloud">
        <h3 class="widget-title">标签云</h3>
        <ul>
            {% for category in category_list %}
                <li>
                    <a href="{% url 'blog:category' category.pk%}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="rss">
        <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
    </div>
{% endblock toc %}